# Exercise 7
### Write a Pandas program to filter the records from the world alcohol consumption dataset where the life expectancy is above the average life expectancy of all countries. Retrieve the country, life expectancy, and GDP per capita for these filtered records.

In [ ]:
df[df['life_expentancy']> df['life_expentancy'].mean()].sort_values('life_expentancy', ascending=False)[['country', 'life_expentancy', 'gdp_per_capita']]

        country  life_expentancy  gdp_per_capita
141    Slovenia             88.0           19000
44      Denmark             86.0           31100
42       Cyprus             85.0           19200
33        Chile             85.0            9900
81        Japan             83.7           28200
..          ...              ...             ...
106     Moldova             72.1            1800
171     Vanuatu             72.0            2900
83   Kazakhstan             72.0            6300
65    Guatemala             71.9            4100
12   Bangladesh             71.8            1900

[104 rows x 3 columns]