# Exercise 5
### Write a Pandas program to find the countries in the world alcohol consumption dataset where the beer servings, spirit servings, and wine servings are all greater than 50 liters. Retrieve the country names for these records.

In [ ]:
df.query('beer_servings > 50 & spirit_servings > 50 & wine_servings >50').sort_values('country', ascending= True)[['country']]

            country
1           Albania
7         Australia
8           Austria
15          Belgium
24         Bulgaria
30           Canada
33            Chile
40          Croatia
42           Cyprus
43          Czechia
44          Denmark
53          Estonia
56          Finland
57           France
58            Gabon
60          Georgia
61          Germany
63           Greece
71          Hungary
72          Iceland
77          Ireland
89           Latvia
94        Lithuania
95       Luxembourg
102           Malta
113     Netherlands
114     New Zealand
119          Norway
124        Paraguay
127          Poland
128        Portugal
130         Romania
131          Russia
136          Serbia
140        Slovakia
141        Slovenia
144    South Africa
146           Spain
151          Sweden
152     Switzerland
169             USA
167  United Kingdom